<div class="row form_main">
    <div class="col-sm-12 box_main">
      <form action="#" class="col-sm-12 box_form">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="countername">Counter Name</label>
              <input type="text" class="form-control" placeholder="Enter Counter Name" name="countername">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="shortname">Counter Short Name</label>
              <input type="text" class="form-control" placeholder="Enter Short Name" name="shortname">
            </div>
          </div>
        </div>
        <div class="btn_main">
          <button type="reset" value="Reset" class="reset_btn">Reset</button>
          <button type="submit" class="submit_btn">Save</button>
        </div>
      </form>
    </div>
  </div>
  