<div class="row form_main">
    <div class="col-sm-12 box_main">
      <form action="#" class="col-sm-12 box_form">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="maingroup">Main Group</label>
              <select class="form-control">
                <option>Main Group 1</option>
                <option>Medak</option>
                <option>Nalgonda</option>
                <option>Warangal</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="subgroup">Sub Group</label>
              <select class="form-control">
                <option>Sub Group 1</option>
                <option>Medak</option>
                <option>Nalgonda</option>
                <option>Warangal</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="itemname">Item Name</label>
              <input type="text" class="form-control" placeholder="Enter Item Name" name="itemname">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
                <label for="shortname">Short Name</label>
                <input type="text" class="form-control" placeholder="Enter Short Name" name="shortname">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Size / Length</label>
            </div>
          </div>
        </div>
        <div class="btn_main">
          <button type="reset" value="Reset" class="reset_btn">Reset</button>
          <button type="submit" class="submit_btn">Save</button>
        </div>
      </form>
    </div>
  </div>
  