<div class="row form_main">
    <div class="col-sm-12 box_main">
      <form action="#" class="col-sm-12 box_form">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
                <label for="designation">Designation</label>
                <select class="form-control">
                  <option>Designation List</option>
                  <option>Salesman</option>
                  <option>Cashier</option>
                  <option>Manager</option>
                </select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="fullname">Full Name*</label>
              <input type="text" class="form-control" placeholder="Enter Full Name" name="fullname">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="emplyeeid">Employee ID*</label>
              <input type="text" class="form-control" placeholder="Enter Employee ID" name="employeeid">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="dateofbirth">Date of Birth</label>
              <input type="date" class="form-control" name="dateofbirth">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="mobilenumber">Mobile Number</label>
              <input type="tel" class="form-control" placeholder="Enter Mobile Number" name="mobilenumber">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="aonumber">A/o Number</label>
              <input type="text" class="form-control" placeholder="Enter A/o Number" name="aonumber">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="ifsccode">IFSC Code</label>
              <input type="text" class="form-control" placeholder="Enter IFSC Code" name="ifsccode">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="smno">SM No</label>
              <input type="text" class="form-control" placeholder="Enter SM Number" name="smnumber">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="photo">Photo</label>
              <input type="file" name="fileToUpload" id="fileToUpload">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="address">Address</label>
              <textarea class="form-control" rows="3" placeholder="Enter Address"></textarea>
            </div>
          </div>
        </div>
        <div class="row user_based_text">
          <h4>User Based</h4>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="loginid">Login ID</label>
              <input type="text" class="form-control" placeholder="Enter Login ID" name="loginid">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" placeholder="Enter Password" name="password">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="passwordhint">Password Hint</label>
              <input type="password" class="form-control" placeholder="Enter Password Hint" name="passwordhint">
            </div>
          </div>
        </div>
        <div class="btn_main">
          <button type="reset" value="Reset" class="reset_btn">Reset</button>
          <button type="submit" class="submit_btn">Save</button>
        </div>
      </form>
    </div>
  </div>
  