<div class="row form_main">
  <div class="col-sm-12 box_main">
    <form action="#" class="col-sm-12 box_form">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="companyname">Company Name*</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="shortname">Short Name</label>
            <input type="text" class="form-control" placeholder="Enter Short Name" name="shortname">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="phonenumber">Mobile Number</label>
            <input type="tel" class="form-control" placeholder="Enter Mobile Number" name="mobilenumber">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="country">Country</label>
            <select class="form-control">
              <option>India</option>
              <option>Srilanka</option>
              <option>USA</option>
              <option>Austrailia</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="state">State</label>
            <select class="form-control">
              <option>Telangana</option>
              <option>Andhra Pradesh</option>
              <option>Maharashtra</option>
              <option>Karnataka</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="city">City</label>
            <select class="form-control">
              <option>Hyderabad</option>
              <option>Medak</option>
              <option>Nalgonda</option>
              <option>Warangal</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="email">Email ID</label>
            <input type="email" class="form-control" placeholder="Enter Email ID" name="email">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="pwd">Mobile Number 2</label>
            <input type="tel" class="form-control" placeholder="Enter Mobile Number" name="mobilenumber2">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="gst">GST No</label>
            <input type="text" class="form-control" placeholder="Enter GST No" name="gst">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="address">Address</label>
            <textarea class="form-control" rows="3" placeholder="Enter Address"></textarea>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="address">Logo</label>
            <input type="file" name="fileToUpload" id="fileToUpload">
          </div>
        </div>
      </div>
      <div class="btn_main">
        <button type="reset" value="Reset" class="reset_btn">Reset</button>
        <button type="submit" class="submit_btn">Save</button>
      </div>
      </form>
  </div>
</div>
