<div class="row form_main">
  <div class="col-sm-12 box_main">
    <form action="#" class="col-sm-12 box_form">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="companyname">Company Name*</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="shortname">Company Short Name</label>
            <input type="text" class="form-control" placeholder="Enter Short Name" name="shortname">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="phonenumber">Phone Number</label>
            <input type="tel" class="form-control" placeholder="Enter Mobile Number" name="mobilenumber">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="pwd">Phone Number 2</label>
            <input type="tel" class="form-control" placeholder="Enter Mobile Number" name="mobilenumber2">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="country">Country</label>
            <select class="form-control">
              <option>India</option>
              <option>Srilanka</option>
              <option>USA</option>
              <option>Austrailia</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="state">State</label>
            <select class="form-control">
              <option>Telangana</option>
              <option>Andhra Pradesh</option>
              <option>Maharashtra</option>
              <option>Karnataka</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="city">City</label>
            <select class="form-control">
              <option>Hyderabad</option>
              <option>Medak</option>
              <option>Nalgonda</option>
              <option>Warangal</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="email">Email id</label>
            <input type="email" class="form-control" placeholder="Enter Email ID" name="email">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="gst">Gst No</label>
            <input type="text" class="form-control" placeholder="Enter GST No" name="gst">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="address">Address</label>
            <textarea class="form-control" rows="3" placeholder="Enter Address"></textarea>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="form-group">
            <label for="address">Logo Upload</label>
            <div class="input-group">
              <input id="uploadFile" class="form-control" placeholder="Choose File" disabled="disabled">
              <div class="input-group-btn">
                <div class="fileUpload btn btn-success">
                  <span><i class="glyphicon glyphicon-upload"></i> Upload</span>
                  <input id="uploadBtn" type="file" class="upload" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-sm-4">
          <label>Country:</label>  
          <select [(ngModel)]="selectedCountry.id" (change)="onSelect($event.target.value)" name="countryselection">  
          <option value="0">--Select Country--</option>  
          <option *ngFor="let country of countries" value={{country.id}}>{{country.name}}</option>  
          </select>  
          <br /><br />  
          <div>  
              <label>State:</label>  
              <select>  
          <option *ngIf='selectedCountry.id == 0' value="0">--Select State--</option>  
          <option *ngFor="let state of states " value={{state.id}}>{{state.name}}</option>  
          </select>  
          </div> 
          <div>  
            <label>City:</label>  
            <select>  
        <option *ngIf='selectedCountry.id == 0 && selectedState.id ==0' value="0">--Select City--</option>  
        <option *ngFor="let city of citys " value={{city.id}}>{{city.name}}</option>  
        </select>  
        </div> 
        </div> -->
      </div>
      <div class="btn_main">
        <button type="reset" value="Reset" class="reset_btn">Reset</button>
        <button type="submit" class="submit_btn">Save</button>
      </div>
      </form>
  </div>
</div>
