<div class="row form_main">
  <div class="col-sm-12 box_main">
    <table class="table table-bordered table_main">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Short Name</th>
          <th scope="col">Phone Number</th>
          <th scope="col">GST No</th>
          <th scope="col">Address</th>
          <th scope="col">Logo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@twitter</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>@twitter</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry the Bird</td>
          <td>@twitter</td>
          <td>@twitter</td>
          <td>@twitter</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
