<div class="row form_main">
    <div class="col-sm-12 box_main">
      <form action="#" class="col-sm-12 box_form">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="maingroup">Main Group</label>
              <select class="form-control">
                <option>Main Group 1</option>
                <option>Medak</option>
                <option>Nalgonda</option>
                <option>Warangal</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="subgroup">Sub Group</label>
              <select class="form-control">
                <option>Sub Group 1</option>
                <option>Medak</option>
                <option>Nalgonda</option>
                <option>Warangal</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="checkbox-inline">
                <input type="checkbox" value="">Option 1
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" value="">Option 2
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" value="">Option 3
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" value="">Option 4
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" value="">Option 5
              </label>
            </div>
          </div>
        </div>
        <table class="table table-bordered table_main">
          <thead>
            <tr>
              <th scope="col">From Weight</th>
              <th scope="col">To Weight</th>
              <th scope="col">Wt Min</th>
              <th scope="col">Wt Max</th>
              <th scope="col">MC Min</th>
              <th scope="col">MC Max</th>
              <th scope="col">CR Wt</th>
              <th scope="col">CR Nt</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="From Weight" name="fromweight">
                </div>
              </th>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="To Weight" name="toweight">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Wt Min" name="wtmin">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Wt Max" name="wtmax">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="MC Min" name="mcmin">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="MC Max" name="mcmax">
                </div>
              </td>
              <td>
                <div class="table-checkbox">
                  <label><input type="checkbox" value="" checked></label>
                </div>
              </td>
              <td>
                <div class="table-checkbox">
                  <label><input type="checkbox" value="" checked></label>
                </div>
              </td>
            </tr>
            <tr>
              <th>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="From Weight" name="fromweight">
                </div>
              </th>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="To Weight" name="toweight">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Wt Min" name="wtmin">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Wt Max" name="wtmax">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="MC Min" name="mcmin">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="MC Max" name="mcmax">
                </div>
              </td>
              <td>
                <div class="table-checkbox">
                  <label><input type="checkbox" value="" checked></label>
                </div>
              </td>
              <td>
                <div class="table-checkbox">
                  <label><input type="checkbox" value="" checked></label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="btn_main">
          <button type="reset" value="Reset" class="reset_btn">Reset</button>
          <button type="submit" class="submit_btn">Save</button>
        </div>
      </form>
    </div>
  </div>
    