<div class="row login-main">
  <div class="container">
    <div class="login-box-col col-sm-4 col-sm-offset-4 col-xs-12">
      <form name="forgotpassword" #forgotpassword="ngForm" (ngSubmit)="forgotpassword(User)" novalidate>
        <div class="login-block">
            <img src="../../assets/images/jewlogo.png">
            <input type="text" name="email" [(ngModel)]="User.email"  #email="ngModel" placeholder="Enter your Email ID" id="username" />
            <!-- <div class="cpassword">
                <input type="text" name="createpassword" [(ngModel)]="User.createpassword"  #createpassword="ngModel" placeholder="Create Password" class="password_field" />
                <input type="text" name="confirmpassword" [(ngModel)]="User.confirmpassword"  #confirmpassword="ngModel" placeholder="Confirm Password" class="password_field" />
            </div> -->
            <button class="btn" type="submit">Submit</button>
        </div>
      </form>
        <div class="reg_links">
          <p>
            <span>
              Already have an Account
            </span>
            <span>
              <a routerLink="/login">Login here</a>
            </span>
          </p>
        </div>
        <div class="back_links">
            <p>
              <a routerLink="/"><< Back to Homepage</a>
            </p>
        </div>
    </div>
  </div>
</div>