<div class="left_sidebar_main">
  <div class="nav-side-menu">
      <div class="brand">
        <h4>Creations</h4>
      </div>
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
          <div class="menu-list">
              <ul id="menu-content" class="menu-content collapse out">
                  <li data-toggle="collapse" data-target="#humanresource" class="collapsed active">
                    <a><i class="fa fa-gift fa-lg"></i> Human Resource <span class="arrow"></span></a>
                  </li>
                  <ul class="sub-menu collapse in" id="humanresource">
                      <li routerLink="employ-creation" routerLinkActive="active"><a>Employee Creation</a></li>
                      <li routerLink="party-creation" routerLinkActive="active"><a>Party Creation</a></li>
                      <li routerLink="company-creation" routerLinkActive="active"><a>Company Creation</a></li>
                  </ul>
                  <li data-toggle="collapse" data-target="#itemcreation" class="collapsed">
                    <a ><i class="fa fa-globe fa-lg"></i> Item Creation <span class="arrow"></span></a>
                  </li>  
                  <ul class="sub-menu collapse" id="itemcreation">
                    <li routerLink="main-group-creation" routerLinkActive="active"><a>Main Group Creation</a></li>
                    <li routerLink="sub-group-creation" routerLinkActive="active"><a>Sub Group Creation</a></li>
                    <li routerLink="item-creation" routerLinkActive="active"><a>Item Creation</a></li>
                    <li routerLink="size-length-creation" routerLinkActive="active"><a>Size/Length Creation</a></li>
                    <li routerLink="wastage-mc-creation" routerLinkActive="active"><a>Wastage/MC Creation</a></li>
                  </ul>
                  <li data-toggle="collapse" data-target="#mastercreation" class="collapsed">
                      <a ><i class="fa fa-globe fa-lg"></i> Master Creation <span class="arrow"></span></a>
                    </li>  
                    <ul class="sub-menu collapse" id="mastercreation">
                      <li routerLink="purity-creation" routerLinkActive="active"><a>purity Creation</a></li>
                      <li routerLink="rate-creation" routerLinkActive="active"><a>Rate Creation</a></li>
                      <li routerLink="counter-creation" routerLinkActive="active"><a>Counter Creation</a></li>
                    </ul>
              </ul>
      </div>
  </div>
</div>