.left_sidebar_main {
    .nav-side-menu {
        border-radius: 5px 5px 0px 0px;
        position:relative;
        overflow: auto;
        font-size: 12px;
        background-color: #fff;
        position: relative;
        min-height: 600px;
        width: auto;
        color: #000;
        -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
           -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        .brand {
            background: #4f5b69;
            border-top: 3px solid #c8a037;
            border-radius: 5px 5px 0px 0px;
            line-height: 50px;
            display: block;
            text-align: center;
            font-size: 14px;
            h4 {
                margin: 0px;
                padding: 10px 0px;
                font-weight: normal;
                color: #fff;
            }
        }
        .toggle-btn {
          display: none;
        }
        ul {
          list-style: none;
          padding: 0px;
          margin: 0px;
          line-height: 35px;
          cursor: pointer;
          .sub-menu {
            li {
              border: none;
              line-height: 28px;
              border-bottom: 1px solid #23282e;
              margin-left: 0px;
            }
            li.active {
              background-color: #f3a216;
              a {
                color: #fff;
              }
            }
            li:hover {
              background-color: #f3a216;
              a {
                color: #fff;
              }
            }
            li:focus {
              outline: none;
            }
            li:before {
              font-family: FontAwesome;
              content: "\f105";
              display: inline-block;
              padding-left: 10px;
              padding-right: 10px;
              vertical-align: middle;
            }
          }
          li {
            list-style: none;
            padding: 0px;
            margin: 0px;
            line-height: 35px;
            cursor: pointer;
            padding-left: 0px;
            border-left: 3px solid #4f5b69;
            border-bottom: 1px solid #4f5b69;
            a {
              text-decoration: none;
              color: #000;
              i {
                padding-left: 10px;
                width: 20px;
                padding-right: 20px;
              }
            }
          }
          li:hover {
            border-left: 3px solid #4f5b69;
            background-color: #c8a037;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            transition: all 1s ease;
            a {
              -webkit-transition: all 0.5s ease;
              -moz-transition: all 0.5s ease;
              -o-transition: all 0.5s ease;
              -ms-transition: all 0.5s ease;
              transition: all 0.5s ease;
                color: #fff;
            }
          }
        }
        ul :not(collapsed) .arrow:before,
        li :not(collapsed) .arrow:before {
          font-family: FontAwesome;
          content: "\f078";
          display: inline-block;
          padding-left: 10px;
          padding-right: 10px;
          vertical-align: middle;
          float: right;
        }
        ul .active,
        li .active {
          border-left: 3px solid #4f5b69;
          background-color: #d19b3d;
        }
        ul .active a,
        li .active a {
          color: #fff;
        }
    }
    .nav-side-menu:before, .nav-side-menu:after {
        content:"";
        position:absolute;
        z-index:-1;
        -webkit-box-shadow:0 0 10px rgba(0,0,0,0.8);
        -moz-box-shadow:0 0 10px rgba(0,0,0,0.8);
        box-shadow:0 0 10px rgba(0,0,0,0.8);
        top:50%;
        bottom:0;
        left:10px;
        right:10px;
        -moz-border-radius:100px / 10px;
        border-radius:100px / 10px;
    }
    .nav-side-menu:after {
        right:10px;
        left:auto;
        -webkit-transform:skew(8deg) rotate(3deg);
        -moz-transform:skew(8deg) rotate(3deg);
            -ms-transform:skew(8deg) rotate(3deg);
            -o-transform:skew(8deg) rotate(3deg);
                transform:skew(8deg) rotate(3deg);
    }
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #fdfdfd;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}
  